<div class="hero-image">
  <div class="row justify-content-between m-3 p-3 h-25 min-vh-25;">
    <div class="card-group mw-25 p-3 justify-content-between">
      <div class="card p-3 m-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card p-3 m-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="img">
        <img src="/images/Exchange.png" class="min-vh-25;" alt="Exchange Logo">
      </div>
      <div class="card p-3 m-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

    <div class="card p-3 m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-light container-fluid p-3">
  <ul class="position-absolute top-100 start-50 translate-middle justify-content-center border border-primary border-3">

    <a class="navbar-brand" href="#">Automotive</a>
    </li>

    <a class="navbar-brand" href="#">Collectibles</a>
    </li>

    <a class="navbar-brand" href="#">Electronics</a>
    </li>

    <a class="navbar-brand" href="#">Miscellaneous</a>
    </li>
  </ul>
</nav>