<h1>The EXchange</h1>

<div class="btn">
<button>Log in</button> <button> Sign up</button> <button>Help</button>
</div>

<div class="row">
  <div class="left" style="background-color:#bbb;">
    <h2>Items for exchange</h2>
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
    <ul id="myList">
      <li><a href="#">Automotive</a></li>
      <li><a href="#">Collectibles</a></li>
      <li><a href="#">Electronics</a></li>
      <li><a href="#">Free</a></li>
    
    </ul>
  </div>

<p>One mans trash is another mans treasure</p>