<div class="hero-image">
  <div class="d-flex card bg-transparent w-75">
    <div class="card-body bg-transparent">
      <h2 class="card-text fw-bold text-danger">Welcome to the place where you are able to trade items for other items.
        No cash involved.</h2>
    </div>
  </div>
  <div class="card-group mw-25 p-1 justify-content-between bg-transparent">
    <div class="card p-1 m-3">
      <img src="https://di-uploads-pod17.dealerinspire.com/kendallbmwofbend/uploads/2019/02/X1_small.jpg" class="card-img-top card-size" alt="..." />
      <div class="card-body bg-light">
        <h5 class="card-title bg-light">Looking to trade for truck, must have extended cab and low mileage.</h5>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>

    <div class="card p-1 m-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRsMt6Lxoh0nWA5yw1ZP-DEyx1NQTQQvOLiA&usqp=CAU" class="card-img-top card-size" alt="..." />
      <div class="card-body bg-light">
        <h5 class="card-title bg-light">Gaming laptop, looking to trade for desktop.</h5>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="img bg-transparent">
      <img src="/images/Exchange.png" class="card-size" alt="Exchange Logo">
    </div>
    <div class="card p-1 m-3">
      <img src="https://ae01.alicdn.com/kf/Hfa424cd4fda249fb97bae24160199ccez/Set-6Pcs-Costa-Rica-Coins-Latin-America-100-Real-Original-Coin-Collection.jpg_Q90.jpg_.webp" class="card-img-top" alt="...">
      <div class="card-body bg-light">
        <h5 class="card-title bg-light">Costa Rica coin collection, seeing what is out there.</h5>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
    <div class="card p-1 m-3">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSfYiZ-BDM7tHA2txhdrFKyee1O89HcWBmVQ&usqp=CAU" class="card-img-top card-size" alt="..." />
      <div class="card-body bg-light">
        <h5 class="card-title bg-light">Looking to trade for running chainsaw.</h5>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>

  </div>
  <ul class="nav justify-content-center bg-transparent">
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Automotive</a>
    </li>
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Collectibles</a>
    </li>
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Electronics</a>
    </li>
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Miscellaneous</a>
    </li>
  </ul>

  <div class="d-flex justify-content-center bg-transparent">
    <img src="/images/trashtotreasure_orig.jpg" alt="This is alternate text in case the image can't show." />
  </div>
</div>