<div class="hero-image">
  <div class="d-flex card bg-transparent w-75">
    <div class="card-body bg-transparent">
      <h2 class="card-text fw-bold text-danger">Welcome to the place where you are able to trade items for other items.
        No cash involved.</h2>
    </div>
  </div>
  <div class="card-group mw-25 p-1 justify-content-between bg-transparent">
    <div class="card p-1 m-3">
      <img src="/images/abstract-blue.jpg" class="card-img-top card-size" alt="..." />
      <div class="card-body card-body-custom">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card p-1 m-3">
      <img src="/images/abstract-blue.jpg" class="card-img-top card-size" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="img bg-transparent">
      <img src="/images/Exchange.png" class="card-size" alt="Exchange Logo">
    </div>
    <div class="card p-1 m-3">
      <img src="..." class="card-img-top card-size" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card p-1 m-3">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <ul class="nav justify-content-center bg-transparent">
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Automotive</a>
    </li>
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Collectibles</a>
    </li>
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Electronics</a>
    </li>
    <li class="nav-item border border-primary-2 m-3">
      <a class="nav-link bg-light fw-bold" href="#">Miscellaneous</a>
    </li>
  </ul>

  <div class="d-flex justify-content-center bg-transparent">
    <img src="/images/trashtotreasure_orig.jpg" alt="This is alternate text in case the image can't show." />
  </div>
</div>